img {
	width: 300px;
	height: 300px;
}

#temp {
	position: relative;
	left:900px;
	margin-top:500px;
	font-family:"Avenir", "Helvetica", sans serif;
   	font-size:100px;	
        text-align:center;
	background-color: #efefef;
	width: 300px;
}

.degrees:after {
	content: "\00b0";
}

#sum {
	position: relative;
	left:900px;
	margin-top:50px;
	font-family:"Avenir", sans serif;
   	font-size:50px;	
        text-align:center;
	background-color: #efefef;
	width: 300px;
}

#wrapper {
	float:center;
	margin-top:10px;
	width: 100px;
	height:250px;
	
	}
	
#temp2 {
	position: relative;
	left:900px;
	margin-top:500px;
	font-family:"Avenir", "Helvetica", sans serif;
   	font-size:100px;	
        text-align:center;
	background-color: #efefef;
	width: 300px;
}

.degrees:after {
	content: "\00b0";
}

#sum2 {
	position: relative;
	left:900px;
	margin-top:50px;
	font-family:"Avenir", sans serif;
   	font-size:50px;	
        text-align:center;
	background-color: #efefef;
	width: 300px;
}

#wrapper2 {
	float:center;
	margin-top:10px;
	width: 100px;
	height:250px;
	
	}

#temp3 {
	position: relative;
	left:900px;
	margin-top:500px;
	font-family:"Avenir", "Helvetica", sans serif;
   	font-size:100px;	
        text-align:center;
	background-color: #efefef;
	width: 300px;
}

.degrees:after {
	content: "\00b0";
}

#sum3 {
	position: relative;
	left:900px;
	margin-top:50px;
	font-family:"Avenir", sans serif;
   	font-size:50px;	
        text-align:center;
	background-color: #efefef;
	width: 300px;
}

#wrapper3 {
	float:center;
	margin-top:10px;
	width: 100px;
	height:250px;
	
	}
	