img {
	width: auto;
	height: 425px;
}

#temp {
	position: relative;
	left:200px;
	bottom:300px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	font-family:"Avenir", "Helvetica", sans serif;
   	font-size:20px;	
    text-align:center;
	background-color: #eeaabc;
	width: 200px;
}

.degrees:after {
	content: "\00b0";
}

#sum {
	position: relative;
	left:200px;
	bottom:300px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	font-family:"Avenir", sans serif;
   	font-size:20px;	
    text-align:center;
	background-color: #eeaabc;
	width: 200px;
}

#wrapper {
	float:center;
	margin-top:10px;
	width: 350px;
	height:425px;
	
	}
	
#temp2 {
	position: relative;
	left:200px;
	bottom:300px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	font-family:"Avenir", "Helvetica", sans serif;
   	font-size:20px;	
        text-align:center;
	background-color: #eeaabc;
	width: 200px;
}

.degrees:after {
	content: "\00b0";
}

#sum2 {
	position: relative;
	left:200px;
	bottom:300px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	font-family:"Avenir", sans serif;
   	font-size:18px;	
    text-align:center;
	background-color: #eeaabc;
	width: 200px;
}

#wrapper2 {
	float:center;
	margin-top:10px;
	width: 350px;
	height:425px;
	
	}

#temp3 {
	position: relative;
	left:200px;
	bottom:300px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	font-family:"Avenir", "Helvetica", sans serif;
   	font-size:20px;	
    text-align:center;
	background-color: #eeaabc;
	width: 200px;
}

.degrees:after {
	content: "\00b0";
}

#sum3 {
	position: relative;
	left:200px;
	bottom:300px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	font-family:"Avenir", sans serif;
   	font-size:20px;	
    text-align:center;
	background-color: #eeaabc;
	width: 200px;
}

#wrapper3 {
	float:center;
	margin-top:auto;
	width: 350px;
	height:425px;
	
	}
	